/*
Maria Alvarez Hernandez ID: 4-0239-0850
Luis Alonso Calderon Achio ID: 1-1702-0626
Enrique Diaz Delgado ID: 1-1725-0124
Derian Sibaja Chavarria ID 4-0232-0842
*/

header {
    font-family: sans-serif;
    font-size: 14pt;
}

body {
    font-family: sans-serif;
    font-size: 12pt;
}

h1 {
    margin: 4px;
    padding: 4px;
    border-bottom: 1px solid gray;
    font-size: 14pt;
}