<!--Maria Alvarez Hernandez ID: 4-0239-0850-->
<!--Luis Alonso Calderon Achio ID: 1-1702-0626-->
<!--Enrique Diaz Delgado ID: 1-1725-0124-->
<!--Derian Sibaja Chavarria ID 4-0232-0842-->

{% extends "base.html" %}

{% block title %}{{title}}{% endblock title %}


{% block tpnav %}
    {% for page in page_list %}
        <a href="{{page.permalink}}">{{ page.title }}</a>
    {% endfor %}
{% endblock tpnav %}


{% block content %}
    {% autoescape off %}
    {{ content }}
    {% endautoescape %}
{% endblock content %}


